@use "../abstract/variable" as var;
@use "../abstract/functions" as func;
@use "../abstract/mixins";


//fonts : poppins, roboto, muktamalar

@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap');
//lobster,cursive
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&display=swap');

.img-auto{
    max-width:auto;
}
.logo-name{
    font-size:28px;
    font-weight:800;
    text-transform:uppercase;
    font-family:var.$font-third;
    transition: 200s;
    animation:color-change 5s linear infinite;
}
.books-title{
        font-size:20px;
        font-family:var.$font-third;
        font-weight:600;
        color:func.theme-colors('purple');
        text-transform:capitalize;
//xs
        @include mixins.responsive(xs){
          text-align:center;
        }
        //lg
        @include mixins.responsive(lg){
                margin-left:65px;
        }
        //xlg
        @include mixins.responsive(xlg){
                margin-left:0;
        }
}
.browse-title{
        font-size:18px;
        font-family:var.$font-primary;
        font-weight:600;
        color:func.theme-colors('inkblue');
        text-transform:capitalize;
        border-bottom:2px solid rgb(19, 143, 0);
        margin:auto;
}
.browse-authors{
        font-size:14px;
        font-family:var.$font-primary;
        font-weight:600;
        color:func.theme-colors('third');
        text-transform:uppercase;
        margin:15px 10px 0;
        text-align:center;
}
.flash-sub-title{
        font-size:16px;
        font-weight:400;
        text-transform:uppercase;
        color:func.theme-colors('third');
        margin-left:15px;
}
.detail-color{
        color:func.theme-colors('purple');
        text-decoration:underline;
}
.customer-review{
        margin-top:12px;
        font-size:12px;
        font-weight:500;
        line-height:1.8;
        color:func.theme-colors('white');
        padding:0 15px;
    }
.customer-name{
        margin-top:12px;
        font-size:14px;
        font-weight:600;
        letter-spacing:0.05rem;
        text-align:center;
        color:func.theme-colors('secondary');
        text-transform:uppercase;
}
.customer-img{
        width:50px;
        height:50px;
        border-radius:50%;
        display:block; margin:0 auto;
        transform: translateY(20px);       
}