@use "../abstract/variable" as var;
@use "../abstract/functions" as func;
@use "../base/reset";
@use "../base/global" ;
@use "../abstract/mixins";


.main-part{
  display:flex;
  justify-content:space-between;
  position:relative;
  flex-flow:row wrap;
  border-radius:20px;
  margin:0 auto;
  padding:20px 23px;
  height:90vh;
  width:100%;
  background:linear-gradient(to left bottom,func.theme-colors('primary'), func.theme-colors('secondary'));
  
  //xs
  @include mixins.responsive(xs){
    flex-flow:column nowrap;
    height:100%;
    padding:50px 10px 30px;
    border-radius:0px;
  }
   //sm
  @include mixins.responsive(sm){
    flex-flow:row nowrap;
    height:100vh;
    padding:20px 0px 20px 10px;
    border-radius:0px;
  }
  //xlg
  @include mixins.responsive(xlg){
    flex-flow:row nowrap;
    height:90vh;
    padding:20px 23px;
    border-radius:20px;
  }
&--sidebar{
    display:flex;
    flex-flow:column nowrap;
    align-items:initial;
    width:19%;
    height:100%;
    padding:30px 0px;
    top:0;
    left:0;
    position:relative;
    animation:sidebaranimation 1.8s linear;
//xs
    @include mixins.responsive(xs){
      width:100%;
      padding:0px;
      align-items:center;
      height:auto;
    }
    // sm
    @include mixins.responsive(sm){
      width:35%;
      padding:35px 0px 25px 10px;
    }
    //md
    @include mixins.responsive(md){
      width:26%;
      padding-top:35px;
    }
     //lg
     @include mixins.responsive(lg){
      width:20%;
      padding-top:35px;
    }
    //xlg
    @include mixins.responsive(xlg){
      width:19%;
      padding:30px 0px;
    }
&--logo{
  display:flex;
  flex-flow:row nowrap !important;
  align-items:start;

  h2{
    font-size:22px;
    color:func.theme-colors('third');
    font-family:var.$font-secondary;
    font-weight:800;
     //sm
    @include mixins.responsive(sm){
      font-size:18px;
      font-weight:600;
    }
     //xlg
     @include mixins.responsive(xlg){
      font-size:22px;
      font-weight:800;
    }
  }
  img{
    margin-left:10px;
  }
}
&--menu{
    display:flex;
    flex-flow:column nowrap;
    align-items:start;
    list-style-type:none;
    margin:20px 0;
    //xs
    // @include mixins.responsive(xs){
    //   margin:10px 0;
    // }
    &__item{
        margin-top:25px;
        list-style-type:none;
        //xs
        // @include mixins.responsive(xs){
        //   margin-top:15px;
        // }
        .active{
          border:2px solid white;
        }
        &__link{
            color:func.theme-colors('white');
            font-size:0.91rem;
            font-weight:500;
            text-transform:uppercase;
            font-family:var.$font-primary;
            // border:1px solid red;
            padding:10px 10px;
            letter-spacing:0.05rem;
            text-align:center;
            transition:250ms;

            &:hover{
              color:func.theme-colors('yellow');
            }
    }
}
}
}
}